<!DOCTYPE html>
<html>
<head>
    <title>Expense Tracker</title>
</head>

<body style="font-family: Arial; background:#eef2f7; text-align:center;">

<h1>💰 Expense Tracker</h1>

<!-- DASHBOARD -->
<div style="display:flex; justify-content:center; gap:20px;">

<div style="background:white; padding:15px; width:150px; border-radius:10px;">
    <h3>Balance</h3>
    <h2 style="color:blue;">₹{{ balance }}</h2>
</div>

<div style="background:white; padding:15px; width:150px; border-radius:10px;">
    <h3>Income</h3>
    <h2 style="color:green;">₹{{ income }}</h2>
</div>

<div style="background:white; padding:15px; width:150px; border-radius:10px;">
    <h3>Expense</h3>
    <h2 style="color:red;">₹{{ expense }}</h2>
</div>

</div>

<br>

<!-- FORM -->
<div style="background:white; padding:20px; width:320px; margin:auto; border-radius:10px;">
    <form method="POST">
        <input type="number" name="amount" placeholder="Enter Amount" required><br><br>

        <select name="type">
            <option value="income">Income</option>
            <option value="expense">Expense</option>
        </select><br><br>

        <button type="submit" style="background:blue; color:white; padding:10px; border:none; border-radius:5px;">
            Add Transaction
        </button>
    </form>
</div>

<br>

<!-- HISTORY -->
<div style="background:white; padding:20px; width:420px; margin:auto; border-radius:10px;">
    <h3>Transaction History</h3>

    {% for t in transactions %}
        <div style="display:flex; justify-content:space-between; border-bottom:1px solid #ccc; padding:8px;">
            
            <div>
                <b>{{ t.type }}</b><br>
                <small>{{ t.date }}</small>
            </div>

            <div>
                <span style="color:{% if t.type=='Income' %}green{% else %}red{% endif %};">
                    ₹{{ t.amount }}
                </span>
                <br>
                <a href="/delete/{{ t.id }}" style="color:red; font-size:12px;">Delete</a>
            </div>

        </div>
    {% endfor %}

</div>

</body>
</html>
